@{ Layout="Shared/_Layout.cshtml"; }
<div class="index-intro row">
        <div class="slideshow-wrapper">
            <ul class="slides">
                <li class="slide-image">
                    <img src="/Contents/img/intro1.jpeg" />
                </li>
                <li class="slide-image">
                    <img src="/Contents/img/intro2.jpeg" />
                </li>
                <li class="slide-image">
                    <img src="/Contents/img/intro3.jpeg" />
                </li>
                <li class="slide-image">
                    <img src="/Contents/img/intro4.jpeg" />
                </li>
            </ul>
        </div>
    <div class="intro-text col-md-3 ">
        <h2>Welcome to Panache Cuts</h2>
        <div class="divider"></div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales iaculis arcu, consequat elementum tellus. In eu neque volutpat, ornare elit eu, molestie eros. Duis tempus bibendum nunc in sodales. In eget est massa. Curabitur tincidunt sit
            amet sem nec consectetur. Maecenas rhoncus ac felis ultricies facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam tristique dapibus lorem, sed congue ipsum ultricies nec. Cras ac ullamcorper
            justo.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-5 index-links clients-background">
        <div class="clients-link">
            <a href="/clients" id="clients-link">See all clients</a>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 index-links stylists-background">
        <div class="stylists-link">
            <a href="/stylists" id="stylists-link">See all stylists</a>
        </div>
    </div>
</div>


</div>
